.DS_Store
# Common Python exclusions
__pycache__/
*.py[cod]
*$py.class
env/
venv/
.env
.venv
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.pytest_cache/

# Node.js / Frontend
node_modules/
dist/
dist-ssr/
*.local
.eslintcache
.stylelintcache
.prettiercache
.parcel-cache
.next
.nuxt
.output
.vercel

# Terraform
.terraform/
*.tfstate
*.tfstate.backup
*.tfvars
*.tfvars.json
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraform.lock.hcl

# IDEs / Editors
.vscode/
.idea/
*.swp
*.swo
.DS_Store

# Misc
*.zip
*.tar.gz
cloud_function/cf_source.zip
terraform/cf_source.zip
